/* Start Global  */
* {
  box-sizing: border-box;
}
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-transition: 0.3s;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 400vh;
}
/* End Global  */
/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}

.sidebar > h3 {
  margin-bottom: 50px;
  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 80px;
    height: 2px;
    background-color: black;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    border: 4px solid white;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }
  .sidebar ul span {
    display: none;
  }
}
.sidebar ul li a {
  margin-bottom: 5px;
  transition: var(--main-transition);
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a i {
  margin-right: 10px;
}
/* End Sidebar */

/* Start Content */

/* start Head */

.content {
  overflow: hidden;
}
.content .search::before {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  font-weight: 900;
  margin-left: 15px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-color);
}
.content .search input {
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 30px;
  width: 160px;
  transition: var(--main-transition);
}
.content .search input:focus {
  width: 200px;
  border: 1px solid #777;
}

.content .search input:focus::placeholder {
  transition: var(--main-transition);
  opacity: 0.5;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  top: -5px;
  right: -2px;
}
.content .head .icons img {
  width: 32px;
  aspect-ratio: 1;
  margin-left: 10px;
}
/* End Head */

.page h1 {
  margin: 20px 20px 40px;
  &::before {
    content: "";
    position: absolute;
    left: 3px;
    bottom: -10px;
    width: 120px;
    height: 3px;
    background-color: white;
    border-radius: 6px;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 3px;
    height: 3px;
    background-color: black;
    width: 40px;
    border-radius: 6px;
  }
}

/* Start Wrapper */
/* start Welcome widget */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(250px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

.wrapper .welcome {
  overflow: hidden;
}

.wrapper .welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.wrapper .avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}

@media (max-width: 767px) {
  .wrapper .avatar {
    margin-left: 0;
  }
  .wrapper .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
.wrapper .welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.wrapper .welcome .body > div {
  flex: 1;
}
.wrapper .welcome .visit {
  margin: 0 15px 15px auto;
  transition: var(--main-transition);
}
.wrapper .welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
/* End Welcome widget */

/* start Quick Draft widget */
.wrapper .quick-draft .visit {
  transition: var(--main-transition);
  cursor: pointer;
}
.wrapper .quick-draft .visit:hover {
  background-color: var(--blue-alt-color);
}

/* End Quick Draft widget */

/* Start Targers Section */
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.targets .details .progress > span span {
  position: absolute;
  font-size: 12px;
  padding: 2px 5px;
  display: block;
  bottom: 15px;
  right: -17px;
  border-radius: 6px;
}
.targets .details .progress > span span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-width: 5px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
  background-color: rgba(0, 117, 255, 0.2);
}
.orange .icon,
.orange .progress {
  background-color: rgba(245, 158, 11, 0.2);
}
.green .icon,
.green .progress {
  background-color: rgba(34, 197, 94, 0.2);
}
.targets .target-row {
  transition: var(--main-transition);
}

.targets .blue:hover {
  background-color: rgba(0, 117, 255, 0.2);
  border-radius: 6px;
}
.targets .orange:hover {
  background-color: rgba(245, 158, 11, 0.2);
  border-radius: 6px;
}
.targets .green:hover {
  background-color: rgba(34, 197, 94, 0.2);
  border-radius: 6px;
}

/* End Targers Section */

/* Start Tickets Section */

.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
  transition: var(--main-transition);
}
.tickets .box:hover {
  background-color: #eeeeee7d;
}
.tickets .boxs .box {
  border-radius: 6px;
  border: 1px solid #eee;
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* End Tickets Section */

/* News Section Start */

.news img {
  margin-left: 10px;
}
.news .btn-shape {
  margin-right: 10px;
}
.news .news-row {
  transition: var(--main-transition);
}
.news .news-row:hover {
  background-color: #eeeeee7d;
  border-radius: 6px;
}

.news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.news .news-row:last-of-type {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.news .news-row h3 {
  font-size: 16px;
}

/* News Section End */

/* Tasks Section Start */

.tasks .row {
  transition: var(--main-transition);
}
.tasks .row:hover {
  background-color: #eeeeee7d;
  border-radius: 6px;
}
.tasks .row:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.tasks .row .shape i {
  cursor: pointer;
  transition: var(--main-transition);
}
.tasks .row:last-of-type {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.tasks .row .shape i:hover {
  color: var(--red-color);
  font-weight: 900;
  animation: shake 0.7s forwards;
}
.tasks .shape {
  margin-right: 10px;
}

/* Tasks Section End */
/* End Wrapper */

/* End Content */

/* Start Top Search */
.top-search .between-flex {
  transition: var(--main-transition);
}

.top-search .between-flex:hover {
  background-color: #eeeeee7d;
  border-radius: 6px;
}
.top-search .between-flex .div {
  margin-left: 5px;
}
.top-search .between-flex .btn-shape {
  margin-right: 5px;
}
/* End Top Search */
/* Laters Uploads Section Start */

.latest-uploads img {
  width: 40px;
  height: 40px;
}
.latest-uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.latest-uploads ul li {
  transition: var(--main-transition);
}
.latest-uploads ul li:hover {
  background-color: #eeeeee7d;
  border-radius: 6px;
}
.latest-uploads .btn-shape {
  margin-right: 10px;
}
/* Laters Uploads Section End */

/* Last Project Progress Section Start */

.last-project ul li {
  margin-top: 25px;
}

.last-project ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  bottom: 0;
  height: calc(100% - 25px);
  background-color: var(--blue-color);
}
.last-project ul li::before {
  content: "";
  border: 2px solid var(--blue-color);
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  border: solid 2px white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  display: block;
  z-index: 1;
}

.last-project ul li.done::before {
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  animation: change-color 0.7s infinite alternate;
}
.last-project img {
  bottom: 0;
  right: 0;
  width: 160px;
  opacity: 0.2;
}

/* Last Project Progress Section End */

/* Animation Start */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: translateY(2px) rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: #fff;
  }
}
/* Animation End */
