/* Start Global  */
* {
  box-sizing: border-box;
}
:root {
  --main-transition: 0.3s;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* End Global  */
/* Start Sidebar */
.sidebar {
  width: 200px;
  box-shadow: 0 0 10px #ddd;
}

.sidebar > h3 {
  margin-bottom: 50px;
  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 80px;
    height: 2px;
    background-color: black;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    border: 4px solid white;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }
  .sidebar ul span {
    display: none;
  }
}
.sidebar ul li a {
  margin-bottom: 5px;
  transition: var(--main-transition);
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a i {
  margin-right: 10px;
}

/* End Sidebar */
