:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* Start Box */
.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.f-column {
  flex-direction: column;
}
.f-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.d-block {
  display: block;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.b-none {
  border: none;
}
@media (max-width: 767px) {
  .d-block-mobile {
    display: block;
  }
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
/* End Box */

/* Heights and Widths Start */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.h-fit {
  height: fit-content;
}
.h-180 {
  height: 180px;
}
.no-resize {
  resize: none;
}
/* Heights and Widths End */
/* Start Padding + Margin */
.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.m-20 {
  margin: 20px;
}
.m-0 {
  margin: 0;
}
.mt-auto {
  margin-top: auto;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mr-auto {
  margin-right: auto;
}
.mr-15 {
  margin-right: 15px;
}
.ml-auto {
  margin-left: auto;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.mb-auto {
  margin-bottom: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
/* End Padding + Margin */
/* Start Colors */
.bg-white {
  background-color: #fff;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}
.c-white {
  color: white;
}
.c-eee {
  color: #eee;
}
.c-black {
  color: #000;
}
.c-grey {
  color: var(--grey-color);
}
.bg-eee {
  background-color: #eee;
}
.opacity-5 {
  opacity: 0.5;
}
/* End Colors */
/* Start Position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* ENd Position */
/* Start Font */
.txt-line {
  text-decoration: line-through;
}
.txt-c {
  text-align: center;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
.w-100 {
  width: 100px;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}

/* End Font */
/* Start border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
/* End border */
/* Start Components */
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
.section {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.border-b {
  border-bottom: 1px solid #eee;
}
.main-transition {
  transition: 0.3s;
}
/* End Components */
